<div id="root">
  <header class="dashboard" [ngClass]="darkMode ? 'darkElements' : 'lightElements'">
    <app-nav-bar [@derAIzAnimation] [darkMode]="darkMode" (isDarkChange)="darkMode = $event"></app-nav-bar>
    <div #topSearch>
      <app-filter-bar [todosCountries]="todosCountries" [darkMode]="darkMode"
                      (filterChange)="filtered($event)"></app-filter-bar>
    </div>
  </header>
  <main [@bajarAnimationMenu]="!loading   ? true : false" class="container dashboard fillTheRemainingHeight"
        [ngClass]="darkMode ? 'dark' : 'light'">
    <section class="countryList">
      <div>
        <a [routerLink]="'/countries/'+item.name" *ngFor="let item of pagedCountries">
          <figure class="countryItem" [ngClass]="darkMode ? 'dark darkElements' : 'light lightElements'">
            <div class="background" [ngStyle]="{'background': 'url('+ item.flag + ')'}"></div>
            <figcaption class="textContainer"><h2>{{item.name}}</h2>
              <div>Population :<span
                [ngClass]="darkMode ? 'darkCaption' : 'lightCaption'">{{item.population | number}}</span></div>
              <div>Region :<span [ngClass]="darkMode ? 'darkCaption' : 'lightCaption'">{{item.region}}</span></div>
              <div>Capital :<span [ngClass]="darkMode ? 'darkCaption' : 'lightCaption'">{{item.capital}}</span></div>
            </figcaption>
          </figure>
        </a>
      </div>
      <app-pagination *ngIf="pagedCountries.length>0" [darkMode]="darkMode" [currentPage]="currentPage"
                      [totalPages]="totalPages"
                      (changeCurrent)="changeCurrent($event)"></app-pagination>
      <p *ngIf="pagedCountries.length===0" class="error">Oops, we have no idea what you're talking about<br>Search for
        something else</p>
    </section>
  </main>
</div>
<app-loading *ngIf="loading" [darkMode]="darkMode"></app-loading>

